/* color varible */
/* container size varible */
/* inner container Top left/Right size */
/* inner container Top left  --road div size */
/* inner container Bottom size */
/* four font-size in html  */
/* inner container Top left :biggest bus number , bus road   */
/*  bus from -to   */
/* other description font */
/* for confirm the size of box */
/* for clean float */
/*  the biggest contanier */
.bus-template {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 538px;
  min-height: 247px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

/* inner container Top part */
.bus-info {
  background-color: #389CFF;
  min-height: 103px;
  color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  position: relative; }
  .bus-info .info-left {
    width: 98px;
    height: 103px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    float: left;
    font-size: 48px;
    padding: 12px; }
    .bus-info .info-left .path-road {
      width: 68px;
      height: 22px;
      line-height: 20px;
      position: absolute;
      bottom: 16px;
      left: 16px;
      background-color: #2d90f2;
      font-size: 16px; }
  .bus-info .info-right {
    width: 440px;
    height: 103px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    float: left;
    padding-top: 12px; }
    .bus-info .info-right .table-td {
      white-space: nowrap;
      table-layout: fixed; }
    .bus-info .info-right .info-first {
      /* need to be adjust manually */
      padding: 0; }
    .bus-info .info-right .info-from-to {
      font-size: 24px; }
    .bus-info .info-right .info-dec {
      height: 20px;
      background: url(../map_bus_1.png) no-repeat;
      background-position: 0 5px;
      vertical-align: top; }
    .bus-info .info-right .info-price {
      margin-left: 30px;
      margin-right: 15px; }
    .bus-info .info-right a {
      color: #fff; }
    .bus-info .info-right .reverse-path {
      position: absolute;
      top: 20px;
      right: 14px;
      width: 32px;
      height: 18px;
      background-color: #389cff;
      padding-left: 24px;
      cursor: pointer;
      background: url(../map_bus_1.png) no-repeat;
      background-position: -83px 4px;
      border: 1px solid #fff; }

.bus-info:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* div rotate starts  */
.bus-div {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 1s linear; }

.bus-front {
  z-index: 2; }

.bus-back {
  transform: rotateY(180deg);
  z-index: 1; }

.bus-back-click {
  transform: rotateY(360deg);
  z-index: 3; }

.bus-front-click {
  transform: rotateY(180deg); }

/* div rotate ends  */
/* inner container Bottom part */
.bus-stop {
  min-height: 144px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 2px solid #389CFF; }
  .bus-stop ul {
    list-style: none;
    margin: 12px 0px 12px 12px;
    overflow: hidden;
    padding: 0; }
    .bus-stop ul li {
      float: left;
      width: 25px;
      height: 132px;
      text-align: center;
      line-height: 14px;
      cursor: pointer;
      word-break: normal;
      font-size: 13px; }
      .bus-stop ul li a {
        text-decoration: none;
        color: #333; }
      .bus-stop ul li .span-arrow {
        display: inline-block;
        width: 24px;
        height: 12px;
        background: url(../map_bus_1.png) no-repeat 6px -167px;
        margin-top: 2px; }

.bus-stop:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*# sourceMappingURL=index.css.map */
